NPLibConfig.cmake
NPLibTargets.cmake
scripts/build_dict.sh


*.rootmap
*Dict.cxx
*Dict_rdict.pcm
*dict_rdict.pcm
*.d
*.so

Utility/npanalysis
Utility/nponline
Utility/npspectra_test
Utility/nptool-installer

bin
lib
include


ClassList.txt
install_manifest.txt
